@charset "UTF-8";
div.jsch-instance {
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
}

div.jsch-instance:not(.activated) {
  display: none;
}

div.jsch-object:not(.enabled) > div.additional-properties {
  display: none;
}

div.jsch-boolean:not(.enabled) > label.custom-control-label {
  display: none;
}

div.jsch-const.required>input {
  display: block;
}

div.jsch-combiner:not(.activated) {
  display: none;
}

button.add-array-item-button[disabled] {
  display: none;
}